.text {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #A60000;
    border-bottom: 2px dotted white;
    border-top: 2px dotted white;
    color: #F4D6D9;
    display: block;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    left: -54px;
    padding: 2px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
    width: 176;
    z-index: 1000;
}
